.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 170px;
}

.ser-title {
  margin: 50px;
  font-size: 22px;
}
.ser-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
}

.ser-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.ser-format h3 {
  font-size: 30px;
}
.ser-format h2 {
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(90deg, #118bef 10%, #20cfff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.ser-format:hover {
  border: 2px solid #20cfff;
  background-image: linear-gradient(135deg, #161513, #0a171e);
  transform: scale(1.05);
  transition: 0.4s;
}

@media (min-width: 768px) and (max-width: 991px){
  .ser-title {
    margin: 30px;
    font-size: 25px;
  }

  .ser-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .ser-format {
    gap: 10px;
    padding: 50px;
    width: 200px;
    height: 180px;
    
    
  }

  .ser-format h3 {
    font-size: 25px;
  }
  .ser-format h2 {
    font-size: 30px;
  
    
  }
  .ser-format p{
    font-size: 13px;

  }

}

@media (max-width: 767px) {
  .ser-title {
    margin: 30px;
    font-size: 20px;
  }

  .ser-work {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .ser-format {
    gap: 10px;
    padding: 50px;
    width: 200px;
    height: 150px;
    
    
  }

  .ser-format h3 {
    font-size: 20px;
  }
  .ser-format h2 {
    font-size: 25px;
  }
  .ser-format p{
    font-size: 13px;

  }


}
