* {
  font-family: Outfit;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;
}

.nav-elememts {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 19px;
}

.nav-resume {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(90deg, #2e9cf6, #6fc7df);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-resume:hover {
  transform: scale(1.05);
}

.nav-name {
  font-size: 25px;
}

.nav-close {
  display: none;
}

.nav-open {
  display: none;
}




/* Laptops and tablets in landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-bar {
    margin: 20px 10px;
    justify-content: center;
    gap: 30px;
  }
  .nav-elememts {
    gap: 45px;
    font-size: 18px;
  }
}

/* Tablets and medium-sized devices */
@media (min-width: 768px) and (max-width: 991px) {

    .nav-bar {
        margin: 20px 10px;
        justify-content: center;
        gap: 55px;
      }
      .nav-elememts {
        gap: 25px;
        font-size: 17px;
      }
      .nav-name {
        font-size: 20px;
      }
      .nav-resume {
        padding: 15px 30px;
        border-radius: 50px;
        background: linear-gradient(90deg, #2e9cf6, #6fc7df);
        font-size: 15px;
        cursor: pointer;
        transition: 0.5s;
      }
}

/* Small tablets and large phones */
@media (min-width: 576px) and (max-width: 767px) {
  .nav-bar {
    margin: 20px 50px;
  }

  .nav-resume {
    display: none;
  }

  .nav-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-close {
    display: block;
    position: relative;
    top: 30px;
    left: 110px;
  }

  .nav-elememts {
    padding: 0px 50px 50px 50px;
    flex-direction: column;
    position: fixed;
    top: 0;
    gap: 30px;
    width: 200px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    background: linear-gradient(135deg, #0f1216, #102733);
    right: -500px;
  }
}

@media (min-width: 425px) and (max-width: 575px) {
  .nav-bar {
    margin: 20px 10px;
  }

  .nav-resume {
    display: none;
  }

  .nav-open {
    display: block;
    position: fixed;
    right: 20px;
  }
  .nav-close {
    display: block;
    position: relative;
    top: 30px;
    left: 110px;
  }

  .nav-name {
    font-size: 25px;
  }

  .nav-elememts {
    padding: 0px 50px 50px 50px;
    flex-direction: column;
    position: fixed;
    top: 0;
    gap: 30px;
    width: 200px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    background: linear-gradient(135deg, #0f1216, #102733);
    right: -500px;
  }
}


/* Phones and small devices */

